.header_container {
  position: fixed;
  display: flex;
  align-items: center;
  padding-top: 12px;
  
  @include tablet {
    padding-top: 20px;
  }
  
  @include desktop {
    padding-top: 8px;
    padding-bottom: 8px;
  }
@media screen and (min-width: 320px) and (max-width: 767px) {
 width: 100%;
 max-width: 480px;
}
}

.header-nav {
  margin-right: auto;

  @include desktop {
  display: flex;}
}

.header-logo {
  @include desktop {
  
  }
}
.header-list {
  display: none;

  @include desktop {
    display: flex;
    align-items: center;
   gap: 28px;
   margin-left: 308px;
  }
}
.header-item {

}

.header-link{
  text-decoration: none;
  font-family: 'Montserrat';
  @include font (16px, calc(20 / 16), $fw: 700);
// color: $text-reverse-color;
color: black;
transition: color $time-transition $function-transition;
}
.header-link:hover,
.header-link:focus,
.header-link:active
{
color: $main-color;

}

.menu-open {
  display: block;
  border: none;
  background-color: transparent;
  

  @include desktop {
   display: none;
  }
}

.header-btn {
  @media screen and (min-width: 320px) and (max-width: 767px){
    display: none;
  }

  @include tablet {
    min-width: 152px;
    height: 42px;
  
  background: $main-color;
  border-radius: 10px;
  padding: 12px 36px;
  margin: 0 32px;

font-family: 'Montserrat';
@include font (14px, calc(17 / 14), $fw: 600);
text-align: center;

@include desktop {
  // margin: 0 16px 0 0;
}
}}
.header-btn:hover,
.header-btn:focus {
  background-color: $accent-color;
}

.header-btn:focus {
  color: #ffffff;
}

.header-btn::after {
  content: "";
  display: inline-flex;
  justify-content: center;
  background-image: url(../images/header/ep_arrow-right-bold.svg);
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-left: 4px;
}


// ___________________MENU___________________

.mob-menu {
  position: fixed;

  width: 100vw;
  height: 100vh;
  background: $bgcolor-modal;
  top: 0;

  padding-top: 12px;
 
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-y: scroll;

  @include desktop {
    display: none;
  }
}
 .is-hidden {
  opacity: 0;
    visibility: hidden;
    pointer-events: none;
 }
.menu-header {
  display: flex;
  align-items: center;
  margin-bottom: 51px;
  padding-left: 32px;
  padding-right: 20px;
  
  @include tablet {
    margin-bottom: 76px;
    padding-right: 32px;
  }
}
.menu-logo {
  @include tablet {

  }
}
.menu-close {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
  fill: #FCFCFC;
}

.menu-item {
  text-align: center;
}
.menu-item:not(:last-child) {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 40px;
  }
}
.menu-list {
   margin: auto 0 110px 0;
  //  width: 100%;
   padding: 0 32px;
}
.menu-link {
font-family: 'Montserrat';
@include font (32px, calc(39 / 32), $fw: 700);
text-decoration: none;
color: $text-reverse-color;
transition: $time-transition $function-transition;

@include tablet {
  @include font (48px, calc(59 / 48), $fw: 700);
}
}

.menu-link:hover,
.menu-link:focus {
  color:$text-main-color;
} 

.menu-btn {
  min-width: 152px;
  height: 42px;

background: $main-color;
border-radius: 10px;
padding: 12px 36px;

font-family: 'Montserrat';
@include font (14px, calc(17 / 14), $fw: 600);
text-align: center;
margin: auto;

@include tablet {
  display: none;
}
}

.menu-btn::after {
  content: "";
  display: inline-flex;
  justify-content: center;
  background-image: url(../images/header/ep_arrow-right-bold.svg);
  background-size: contain;
width: 12px;
height: 12px;
margin-left: 4px;
}

// ___________________HERO___________________
.hero {
  background-color: $bgcolor-main;
  
}

.hero-title {
  font-family: 'Seymour One';
  @include font (38px, calc(48 / 38), $fw: 400);
letter-spacing: 0.04em;
text-transform: uppercase;
color: $text-reverse-color;
max-width: 367px;
padding-top: 118px;
padding-bottom: 402px;
}