@mixin mobile {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

@mixin font($fz, $lh, $fw: 400) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absolute-centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
