<div class="team-member modal" data-modal="5" lang="ua">
  <button type="button" class="button-close js-modal-close modal__btn__close">
    <svg class="icon-close">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h1 class="team__title modal__title">Руслана Семененко</h1>
  <div class="team-member__thimb">
    <img
      src="https://ca.slack-edge.com/T041UKFU2R2-U04F2BQSM9N-f09c998441ac-512"
      alt="Руслана Семененко"
      class="team-member__img"
    />
  </div>
  <p class="team-member__describe">Зробила секцію "About"</p>
</div>
