<div class="team-member modal" data-modal="3">
  <button type="button" class="button-close js-modal-close modal__btn__close">
    <svg class="icon-close">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h1 class="team__title modal__title">Олег Журавський</h1>
  <div class="team-member__thimb">
    <img
      src="https://ca.slack-edge.com/T041UKFU2R2-U044YTR54N9-4348f4fa3cda-512"
      alt="Олег Журавський"
      class="team-member__img"
    />
  </div>
  <p class="team-member__describe">
    Scrum master цього проекту. Зробив модалкi "About" i "How it's made".
  </p>
</div>
