<!-- about -->
<section class=" about">
   <div class="container">
  <p class="about-page">tradition and love</p>
  <h1 class="about-title">how it’s made?</h1>
  <div class="about-card">
    <!-- <picture>
                <source
                  srcset="
                    ./images/about/ice-crem-desktop 1x.jpg 1x,
                    ./images/about/ice-crem-desktop 2x.jpg 2x
                    "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/about/ice-crem-table 1x.jpg 1x,
                    ./images/about/ice-crem-table 2x.jpg 2x
                    "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/about/ice-crem-mobile 1x.jpg 1x,
                    ./images/about/ice-crem-mobile 2x.jpg 2x
                    "
                  media="(min-width: 480px)"
                /> -->
                <img
                  class="about-img"
                  src="./images/about/ice-crem-desktop 1x.jpg"
                  alt="cow"
                />
              </picture>
  </div>
  <div class="about-text">
    <ul class="about-paragraph-item">
      <li class="about-paragraph-list">
        <p class="about-paragraph">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
      </li>
      <li class="about-paragraph-list">
        <p class="about-paragraph">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
      </li>
      <li class="about-paragraph-list">
        <p class="about-paragraph">
          This is enough to choose ice cream and coffee for any mood!
        </p>
      </li>
    </ul>
    <button type="button" class="button" data-modal="read">Read more >
    </button>
     </div>
  </div>
</section>
