<section class="container contacts">
     <h2 class=visually-hidden>Contacts</h2> 
    <div class="contacts-thumb">
        <div class="contacts__adress">
            <div class="contacts__category">CAFE</div>
            <ul class="contacts__city">
                <li class="adress adress-list">
                    <address class="contacts__text">Chicago <br>
                        <span class="city__adress">Ridgeland Ave, Chicago Ridge, IL 60415, USA</span> 
                    </address>
                </li>
                <li class="schedule adress-list">
                    <ul class="schedule-list">
                        <li class="holiday-schedule">
                            <p class="contacts__text">Monday - Friday</p>
                            <time class="contacts__time">06:00 AM - 10:00 PM</time>
                        </li>
                        <li>
                            <p class="contacts__text">Saturday - Sunday</p>
                            <time class="contacts__time">08:00 AM - 16:00 PM</time>
                        </li>
                    </ul>
                <li >
                        
                </li>
                <li class="adress-list contacts__tel">
                    <a class="contacts__text" href="tel:+61(0) 383 766 284">
                        +61(0) 383 766 284</a>
                    </li>
                    <li class="adress-list contacts__mail">
                        <a class="contacts__text" href="mailto:noreply@envato.com">
                            noreply@envato.com</a>
                        </li>
                       
            </ul>
        </div>
        <div class="contacts__adress">
                <div class="contacts__category foodtruck">FOODTRUCK</div>
                <ul class="contacts__city">
                    <li class="adress-list adress">
                        <address class="contacts__text">Los Angeles <br>
                            <span class="city__adress">
                                1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                        </span> 
                        </address>
                    </li>
                <li class="schedule adress-list">
                    <ul class="schedule-list">
                        <li class="holiday-schedule">
                            <p class="contacts__text">Monday - Friday</p>
                            <time class="contacts__time">06:00 AM - 10:00 PM</time>
                        </li>
                        <li>
                            <p class="contacts__text">Saturday - Sunday</p>
                            <time class="contacts__time">08:00 AM - 16:00 PM</time>
                        </li>
                    </ul>
                <li>
                        <li class="adress-list contacts__tel">
                            <a class="contacts__text" href="tel:+61(0) 383 766 284">
                                +61(0) 383 766 284</a>
                        </li>
                        <li class="adress-list contacts__mail">
                            <a class="contacts__text" href="mailto:noreply@envato.com">
                                noreply@envato.com</a>
                        </li>
                </ul>
        </div>
        <div class="contacts__adress">
                    <div class="contacts__category">CAFE</div>
                    <ul class="contacts__city">
                        <li class="adress-list adress">
                            <address class="contacts__text">New York <br>
                                <span class="city__adress">
                                726 Sterling Pl, Brooklyn, NY 11222, USA
                                </span>
                            </address>
                        </li>
                <li class="schedule adress-list">
                    <ul class="schedule-list">
                        <li class="holiday-schedule">
                            <p class="contacts__text">Monday - Friday</p>
                            <time class="contacts__time">06:00 AM - 10:00 PM</time>
                        </li>
                        <li>
                            <p class="contacts__text">Saturday - Sunday</p>
                            <time class="contacts__time">08:00 AM - 16:00 PM</time>
                        </li>
                    </ul>
                <li>    
                        <li class="adress-list contacts__tel">
                            <a class="contacts__text" href="tel:+61(0) 383 766 284">
                                +61(0) 383 766 284</a>
                        </li>
                        <li class="adress-list contacts__mail">
                            <a class="contacts__text" href="mailto:noreply@envato.com">
                                noreply@envato.com</a>
                        </li>
                    </ul>
        </div>
    </div>
    <button class="contacts__locations" type="button">
                Our Locations
            </button>
    <button class="contacts__franchise" type="button">
                Franchise
            </button>
</section>