<section class="contacts">
     <h2 class=visually-hidden>Contacts</h2> 
    <div class="contacts__adress">
        <ul class="contacts__chicago">
            <li class="adress__chicago">
                <address class="city">Chicago 
                    <span class="city__adress">
                        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</span>
                    </address>
            </li>
            <li class="schedule">
                <p class="chicago__day">Monday - Friday</p>
                <time>06:00 AM - 10:00 PM</time>
                <p class="chicago__day">Saturday - Sunday</p>
                <time>08:00 AM - 16:00 PM</time>
            </li>
            <li></li>
        </ul>
    </div>
</section>