<footer class="footer">
  <div class="footer__container container">
    <ul class="footer__button-list">
      <li>
        <button
          type="button"
          data-modal="location"
          class="button-footer button-location js-open-modal"
        >
          Our Location
        </button>
      </li>
      <li>
        <button
          type="button"
          data-modal="franchise"
          class="button-footer button-franchise js-open-modal"
        >
          Franchise
        </button>
      </li>
    </ul>
    <div class="footer__flex">
      <div class="footer__flex-text">
        <p class="text-footer up">HOMEMADE ICE CREAM MADE</p>
        <p class="text-footer down">WITH PASSION</p>
      </div>
      <div class="footer__flex-wrap">
        <ul class="msg-list">
          <li class="msg-list__item">
            <a href="#">
              <svg width="34" height="34" class="msg github">
                <use
                  href="./images/icons.svg#icon-github"
                  class="msg-icon"
                ></use>
              </svg>
            </a>
          </li>
          <li class="msg-list__item">
            <a href="#">
              <svg width="34" height="34" class="msg telegram">
                <use
                  href="./images/icons.svg#icon-telegram"
                  class="msg-icon"
                ></use>
              </svg>
            </a>
          </li>
          <li class="msg-list__item">
            <a href="#">
              <svg width="34" height="34" class="msg facebook">
                <use
                  href="./images/icons.svg#icon-facebook"
                  class="msg-icon"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-text-tel">
          Feel free to contact
          <a href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
    <div class="foot">
      <p class="footer-index">&#169; 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
