<footer>
  <ul>
    <li><button type="button">Our Location ></button></li>
    <li><button type="button">Franchise ></button></li>
  </ul>
  <p>HOMEMADE ICE CREAM MADE</p>
  <p>WITH PASSION</p>
  <div>
    <ul>
      <li>
        <a href="">
          <svg>
            <USE href="./images/icons.svg#icon-github"></USE>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg>
            <USE href="./images/icons.svg#icon-telegram"></USE>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg>
            <USE href="./images/icons.svg#icon-facebook"></USE>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <p>&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
