<!----------- Gallery ------------>

<section class="gallery container">
  <ul class="gallery__set">
    <li class="gallery__item">
      <img
        src="./images/gallery/ices1.jpg"
        alt=""
        srcset="
        ./images/gallery/ices1.jpg x1
        ./images/gallery/ices1@2.jpg x2"
      />
    </li>
    <li class="gallery__item">
      <img
        src="./images/gallery/ices2.jpg"
        alt=""
        srcset="
        ./images/gallery/ices2.jpg x1
        ./images/gallery/ices2@2.jpg x2"
      />
    </li>
    <li class="gallery__item">
      <img
        src="./images/gallery/ices3.jpg"
        alt=""
        srcset="
        ./images/gallery/ices3.jpg x1
        ./images/gallery/ices3@2.jpg x2"
      />
    </li>
  </ul>
</section>
