<!------------- Gallery ------------->
<section class="container container-gallery">
  <h2 class="section__header visually-hidden">Our customer</h2>
  <div class="gallery">
    <!-- Slides -->
    <ul class="gallery__slides">
      <!-- 1 slide -->
      <li class="gallery__item">
        <img
          src="./images/members/member1.jpg"
          alt="Diana, Chicago"
          class="gallery__foto"
        />
        <p class="gallery__describe">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="gallery__name">Diana, Chicago</p>
      </li>

      <!-- 2 slide -->
      <li class="gallery__item">
        <img
          src="./images/members/member2.jpg"
          alt="Emily"
          class="gallery__foto"
        />
        <p class="gallery__describe">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="gallery__name">Emily, Los Angeles</p>
      </li>

      <!-- 3 slide -->
      <li class="gallery__item">
        <img
          src="./images/members/member3.jpg"
          alt="Emily"
          class="gallery__foto"
        />
        <p class="gallery__describe">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="gallery__name">Bryan, New-York</p>
      </li>
    </ul>

    <!-- Buttons -->
    <ul class="gallery__buttons">
      <li class="gallery__button-wrap">
        <button class="gallery__button"></button>
      </li>

      <li class="gallery__button-wrap">
        <button class="gallery__button"></button>
      </li>

      <li class="gallery__button-wrap">
        <button class="gallery__button"></button>
      </li>
    </ul>
  </div>
</section>
