<!------------- Gallery ------------->
<div class="container container-gallery">
  <div class="gallery">
    <!-- Slides -->
    <ul class="gallery__slides">
      <li class="gallery__item">
        <!-- <div class="offset-block"></div> -->
        <div class="gallery_thumb-poster">
          <img src="./images/ices1.jpg" alt="ices" class="gallery__poster" />
        </div>
        <img
          src="./images/member1.jpg"
          alt="Diana, Chicago"
          class="gallery__foto"
        />
        <p class="gallery__describe">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="gallery__name">Diana, Chicago</p>
      </li>
      <li class="gallery__item">
        <!-- <div class="offset-block"></div> -->
        <div class="gallery_thumb-poster">
          <img src="./images/ices2.jpg" alt="ices" class="gallery__poster" />
        </div>
        <img src="./images/member2.jpg" alt="Emily" class="gallery__foto" />
        <p class="gallery__describe">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="gallery__name">Emily, Los Angeles</p>
      </li>
      <li class="gallery__item">
        <!-- <div class="offset-block"></div> -->
        <div class="gallery_thumb-poster">
          <img src="./images/ices3.jpg" alt="ices" class="gallery__poster" />
        </div>
        <img src="./images/member3.jpg" alt="Emily" class="gallery__foto" />
        <p class="gallery__describe">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="gallery__name">Bryan, New-York</p>
      </li>
    </ul>

    <!-- Buttons -->
    <ul class="gallery__buttons">
      <li class="gallery__button-wrap">
        <button class="gallery__button"></button>
      </li>
      <li class="gallery__button-wrap">
        <button class="gallery__button"></button>
      </li>
      <li class="gallery__button-wrap">
        <button class="gallery__button"></button>
      </li>
    </ul>
  </div>
</div>
