<header>
  <nav>
    <a href="#">
      <img srcset="./images/header/logo-mob.png 1x, ./images/header/logo-mob-2x.png 2x" src="./images/header/logo-mob.png" width="40" height="37" alt="logo">
    </a>
  </nav>
  <button type="button" class="menu-open" data-menu-open>
    <svg class="menu-open-icon" width="32" height="32">
        <use href="./images/icons.svg#icon-burger"></use>
    </svg>
</button>

<div>
  <a href="#">
    <img srcset="./images/header/logo-mob.png 1x, ./images/header/logo-mob-2x.png 2x" src="./images/header/logo-mob.png" width="40" height="37" alt="logo">
  </a>
  <button type="button" class="menu-close" data-menu-close>
    <svg class="menu-open-icon" width="32" height="32">
        <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#how">How it’s made?</a></li>
      <li><a href="#products">Our products</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <button type="button">Buy now</button>
</div>
</header>


  <section>
<h1>ice cream
  made with
  passion</h1>
  <ul>
    <li><a href="#products"><button type="button">Products</button></a></li>
    <li><a href="#how"><button type="button">How it’s made?</button></a></li>
  </ul>
  </section>
