<div class="modal_location">
  <div class="container"> 
    <button type="button" class="modal__close-button js-modal-close">
    <svg class="modal-icon">
    <use href="./images/icons.svg#icon-close"><use>
  </svg>
  </button>
  <p class="modal_text">Our Locations</p>
  <div class="modal_window">

  <!-- <picture>
      <source
          srcset="
            ./image/map/map-tablet-1x.jpg 1x,
            ./image/map/map-tablet-2x.jpg 2x"
          media="(min-width: 1200px)"/>
      <source
          srcset="
            ./image/map/map-tablet-1x.jpg 1x,
            ./image/map/map-tablet-2x.jpg 2x"
          media="(min-width: 768px)"/>
    <source
        srcset="
          ./image/map/map-1x.jpg 1x,
          ./image/map/map-2x.jpg 2x"
          media="(min-width: 480px)"/>
  </picture> -->

  <img src="./image/map/map-1x.jpg" alt="карта"                

  </div>
  <button class="modal_button" type="button">Open map</button>
  </div>
</div>

