<div class="modal-read modal" data-modal="read">
  <!-- <button class="button-close js-modal-close"> -->
  <button type="button" class="button-close js-modal-close">
    <svg width="24" height="24" class="icon-close">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h1 class="modal-read__title modal__title">How it’s made?</h1>
  <iframe
    class="modal-read__video"
    src="https://www.youtube.com/embed/zagD0LQdsDE"
    title="Морозиво I Зроблено в Україні"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="modal-read__text">
    We select the tastiest milk from ecological places in our Ukraine. We
    carefully check all ingredients in our laboratory. Only after that, we mix
    them according to our excellent recipes and in strict compliance with state
    regulations, filter and perform pasteurization (heat treatment). The next
    stage on the way to this delicious mixture is the homogenizer - it creates a
    homogeneous mixture. After that, it goes to special tanks (freezers), which
    freeze and saturate the mixture with oxygen. And only after that, the
    finished ice cream is formed by dispensers, jam, chocolate or other goodies
    are added :) That's it, ready-made ice cream goes to the freezers of our
    warehouse, and from there to the counters of shops, cafes, restaurants or
    other wonderful places of our Ukraine! It remains for you to choose the
    flavor and enjoy this unique ice cream that we make for your pleasure!
  </p>
</div>
