<section class="modal_location">
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ice-Cream</title>
    <link rel="stylesheet" href="../sass/components/_modern-normolize.scss" />
    <link rel="stylesheet" href="../sass/index.scss" />
    </head>

 <div class="modal_container">
    <button type="button" class="modal_close">
    <svg class="modal_icon">
    <use href="../images/icons.svg#icon-close"><use>
  </svg>
  </button>
  <p class="modal_text">Our Locations</p>
  <div class="modal_window"></div>
  <button class="modal_button" type="button">Open map<button>
  </div>
</section>
