<div class="modal_location">
  <div class="container">
    <button type="button" class="modal__close-button js-modal-close">
      <svg class="modal-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal_text">Our Locations</p>
    <div class="modal_window">
      <!-- <img
        srcset="
          ../images/maps/map-1x.jpg,
          ../images/maps/map-2x.jpg,
          ../images/maps/tablet-map-1x.jpg,
          ../images/maps/tablet-map-2x.jpg
        "
        sizes="(min-width: 1200px) 448px, (min-width: 480px) 224px"
        src="../images/maps/map-1x.jpg"
        alt="location"
      /> -->
    </div>
    <button class="modal_button" type="button">Open map</button>
  </div>
</div>
