<div class="modal-read modal" data-modal="read">
  <!-- <button class="button-close js-modal-close"> -->
  <button type="button" class="button-close js-modal-close about-btn">
    <svg width="24" height="24" class="icon-close">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h1 class="modal-read__title">How it’s made?</h1>
  <iframe
    class="modal-read__video"
    width=""
    height=""
    src="https://www.youtube.com/embed/pqxtkxVbceA"
    title="Фабрика Мороженного - Как Это Устроено? Как Делают Разные Виды Мороженного?"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="modal-read__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
