<section class="products" id="product">
    <div class="container">
        <p class="label">
            <label for="text">
                <span class="top-label">100% natural</span>
            </label>
        </p>
        <h2 class="products-name">products</h2>
        <ul class="product-list">
            <li class="product-list__item">
                <div class="product-list__card">
                    <div class="product-list__bg"></div>
                    <h2 class="product-list__name">ice cream</h2>
                    <p class="product-list__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                        natural stabilizer
                    </p>
                    <button type="button" class="button-product js-open-modal" data-modal="icecream">
                        <svg class="button-product__icon" width="40px" height="16px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="product-list__item">
                <div class="product-list__card-coffe">
                    <div class="product-list__bg-coffe"></div>
                    <h2 class="product-list__name">ice coffee</h2>
                    <p class="product-list__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers

                    </p>
                    <button type="button" class="button-product js-open-modal" data-modal="icecoffee">
                        <svg class="button-product__icon" width="40px" height="16px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="product-list__item">
                <div class="product-list__card-milk">
                    <div class="product-list__bg-milk"></div>
                    <h2 class="product-list__name">milkshakes</h2>
                    <p class="product-list__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice

                    </p>
                    <button type="button" class="button-product js-open-modal" data-modal="milkshake">
                        <svg class="button-product__icon" width="40px" height="16px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>
