<div class="team modal" data-modal="team">
  <button type="button" class="button-close js-modal-close modal__btn__close">
    <svg class="icon-close">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h1 class="team__title modal__title">OUR TEAM</h1>

  <ul lang="ua" class="team__set">
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="1">
        Володимир Медвідь
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="2">
        Руслан Грудістов
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="3">
        Олег Журавський
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="4">
        Юрій Беркета
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="5">
        Руслана Семененко
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="6">
        Дмитро Свірін
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="7">
        Тетяна Новікова
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="8">
        Ірина Вакуленко
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="9">
        Максим Терлецький
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="10">
        Олексій Болотін
      </button>
    </li>
    <li class="team__item">
      <button class="btn__team js-open-modal" data-modal="11">
        Дмитро Фетісов
      </button>
    </li>
  </ul>
</div>
