.contacts {
    background: #84A178;

}
.contacts-thumb {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.contacts__adress {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    width: 280px;
    height: 412px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    background: #FCFCFC;
}

.contacts__category {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 4px 22px;
    margin-bottom: 20px; 
    width: 80px;
    height: auto;
    background: #F8D24E;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.20;
    letter-spacing: 0.04em;
}

.foodtruck {
    width: 120px;
}

.contacts__city {
    display: block;
}

.adress {
    width: 212px;
    height: 70px;
    margin-bottom: 48px;
    
}
.adress-list {
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 12px;
    color: #131313;
}
.contacts__text {
    font-style: inherit;
    line-height: 1.86;
    text-decoration: none;
    color: #131313;
}

.city__adress {
    color: #D6936D;
    line-height: 1.83;
    margin-top: 8px;
}

.schedule {
    margin-bottom: 48px;
}
.holiday-schedule {
    margin-bottom: 8px;
}
.contacts__time {
    color: #ABABAB;

}
.contacts__tel {
    margin-bottom: 6px;
}
.contacts__locations {}

.contacts__franchise {}