.contacts {
    background: #84A178;

}

.contacts__adress {
padding-top: 40px;
    padding-left: 32px;
    padding-bottom: 24px;
    background: #FCFCFC;
    width: 280px;
    height: 412px;
}

.contacts__category {
    display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    margin-bottom: 20px; 
    width: 80px;
    height: 22px;
    background: #F8D24E;
    border-radius: 4px;
}

.contacts__city {}

.adress {}

.contacts__text {}

.city__adress {}

.schedule {}

.contacts__time {}

.contacts__locations {}

.contacts__franchise {}