.header--color {
  background-color: $bgcolor-main;
}

.header_container {
  display: flex;
  align-items: baseline;
  padding: 12px 20px 0;

  @include tablet {
    align-items: center;
    padding: 20px 32px 0;
  }

  @include desktop {
    padding: 8px 16px 0;

  }
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: none;

  @include desktop {
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 32px 0 13px;
     margin-left: 308px;
  }
}

.header-link {
  text-decoration: none;
  font-family: 'Montserrat';
  @include font(16px, calc(20 / 16), $fw: 700);
  color: $text-reverse-color;

  transition: color $time-transition $function-transition;
  cursor: url(./../images/header/header-cursor.png) 19 24, auto;

  &:hover,
  &:focus,
  &:active {
    color: $main-color;
    cursor: url(./../images/header/header-cursor.png) 19 24, auto;
  }
}

.menu-open {
  display: block;
  border: none;
  background-color: transparent;

  @include desktop {
    display: none;
  }
}
.menu-open-icon {
  fill: #ffffff;
}

.header-btn {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }

  @include desktop {
    margin-top: 20px;
  }

  @include tablet {
    min-width: 152px;
    height: 42px;
    margin-left: 32px;
    display: flex;
    align-items: center;

    background: $main-color;
    border-radius: 10px;
    padding: 12px 36px;

    @include font(14px, calc(17 / 14), $fw: 600);
    text-align: center;

    transition: background-color $time-transition $function-transition,
      color $time-transition $function-transition,
      fill $time-transition $function-transition;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }

    &:focus {
      color: #ffffff;
      fill: #ffffff;
    }

    &:focus.btn-arrow {
      fill: #ffffff;
    }
  }

  @include desktop {
    margin-top: 20px;
  }
}

.btn-arrow {
  margin-left: 4px;
}

// ___________________MENU_______________________________________________________

.mob-menu {
  position: fixed;
  z-index: 400;

  width: 100vw;
  height: 100vh;
  background: $bgcolor-modal;
  top: 0;

  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-y: scroll;

  transition: transform 500ms $function-transition;
  transform: translateX(0);

  @include desktop {
    display: none;
  }
}

.is-hidden {
  transform: translateX(100vw);
  // opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-header {
  display: flex;
  align-items: center;
  margin-bottom: 51px;
  padding: 12px 20px 0;

  @include tablet {
    margin-bottom: 76px;
    padding: 20px 32px 0;
  }
}

.menu-close {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
  fill: #fcfcfc;
}

.menu-item {
  text-align: center;
}

.menu-item:not(:last-child) {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.menu-list {
  margin: auto 0 110px 0;
  padding: 0 32px;
}

.menu-link {
  @include font(32px, calc(39 / 32), $fw: 700);
  text-decoration: none;
  color: $text-reverse-color;
  transition: color $time-transition $function-transition;

  &:hover,
  &:focus {
    color: $text-main-color;
  }

  @include tablet {
    @include font(48px, calc(59 / 48), $fw: 700);
  }
}

.menu-btn {
  min-width: 152px;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 4px;

  background: $main-color;
  border-radius: 10px;
  padding: 12px 36px;

  @include font(14px, calc(17 / 14), $fw: 600);
  text-align: center;
  margin: auto;

  transition: color $time-transition $function-transition,
    background-color $time-transition $function-transition,
    fill $time-transition $function-transition;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:focus {
    color: #ffffff;
  }

  &:focus,
  .btn-arrow:focus {
    fill: #ffffff;
  }

  @include tablet {
    display: none;
  }
}
// ___________________HERO_______________________________________________

.hero-bgr {
  background-color: $bgcolor-main;
  position: relative;
}

.hero-title {
  font-family: 'Seymour One';
  @include font(26px, calc(33 / 26), $fw: 400);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-reverse-color;
  padding-top: 50px;
  margin-bottom: 32px;

  @include tablet {
    padding-top: 14px;
    margin-bottom: 24px;
    max-width: 247px;
  }

  @include desktop {
    @include font(38px, calc(48 / 38), $fw: 400);
    max-width: 367px;
    padding-top: 45px;
    margin-bottom: 28px;
  }
}

.hero-wrap {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.hero-headline {
  @include tablet {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
  }

  @include desktop {
    margin-top: 53px;
  }
}

.hero-title-size {
  @include font(34px, calc(33 / 34), $fw: 400);

  @include desktop {
    @include font(38px, calc(48 / 38), $fw: 400);
  }
}

.hero-count {
  display: none;

  @include tablet {
    display: block;
    @include font(28px, calc(34 / 28), $fw: 900);
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-main-color;
    margin: 0;
    margin-bottom: 4px;
    text-align: right;
  }

  @include desktop {
    @include font(46px, calc(56 / 46), $fw: 900);
  }
}

.hero-subject {
  display: none;

  @include tablet {
    display: block;
    @include font(8px, calc(10 / 8), $fw: 400);
    color: $text-reverse-color;
    margin: 0;
    margin-bottom: 20px;
    text-align: right;
  }

  @include desktop {
    @include font(14px, calc(17 / 14), $fw: 400);
  }
}

.hero-subject-margin {
  margin-bottom: 0;
}

// __________HERO BUTTON_______________________________

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 236px;
  z-index: 1;

  @include tablet {
    padding-bottom: 39px;
  }

  @include desktop {
    padding-bottom: 109px;
  }
}

.btn-products {
  border: 2px solid $main-color;
  border-radius: 8px;
  background-color: transparent;
  padding: 11px 26px;
  min-width: 108px;
  text-decoration: none;

  @include font(12px, calc(15 / 12), $fw: 600);
  color: #000000;
  text-align: center;

  transition: border $time-transition $function-transition,
    color $time-transition $function-transition;

  &:hover {
    border: 2px solid $accent-color;
  }

  &:focus {
    border: 2px solid $accent-color;
    color: #ffffff;
  }

  &:disabled {
    border: 2px solid $disabled-color;
  }
}

.btn-made {
  border: 2px solid transparent;
  @include font(12px, calc(15 / 12), $fw: 600);
  text-decoration-line: underline;
  color: $main-color;
  background-color: transparent;

  transition: color $time-transition $function-transition;

  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $text-reverse-color;
  }
  &:disabled {
    color: $disabled-color;
  }
}

// ____________________HERO IMAGES__________________________

.hero-img {
  position: relative;
}

.picture-ice {
  position: absolute;
  display: none;
  z-index: 3;

  @include tablet {
    display: block;
    bottom: 12px;
  }

  @include desktop {
    bottom: 65px;
  }
}

.hero-text {
  display: none;

  @include tablet {
    display: inline-block;
    @include font(12px, calc(17 / 12), $fw: 400);
    color: $text-reverse-color;
    max-width: 139px;
    margin: 0 0 0 184px;
    padding-bottom: 12px;
  }
  @include desktop {
    padding-bottom: 24px;
    max-width: 185px;
    margin: 0 0 0 241px;
  }
}

.hero-icon {
  @include tablet {
    padding-bottom: 24px;
  }
  @include desktop {
    padding-bottom: 103px;
  }
}

.hero-arrow {
  display: none;

  @include tablet {
    display: block;
    fill: $text-reverse-color;
    margin: 0 0 0 184px;
  }

  @include desktop {
    margin: 0 0 0 241px;
  }
}

.hero-img-ice {
  position: absolute;
  bottom: 0;
  left: 63px;
  z-index: 2;
  min-width: 177px;

  @media screen and (min-width: 320px) and (max-width: 480px) {
    max-width: 480px;
  }

  @include tablet {
    left: 376px;
  }

  @include desktop {
    left: 636px;
  }
}

.hero-img-dots {
  position: absolute;
  bottom: 0;
  left: -20px;
  z-index: 0;
  width: 100%;
  pointer-events: none;

  @media screen and (min-width: 768px) {
    left: -32px;
    min-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 1200px;
    left: -16px;
  }
}
