.modal-location { 
    padding: 28px;
}
.modal__close-button {
    margin-left: auto;
    display: block;
}
.modal-icon {
    width: 11px;
    height: 11px;
}
.modal_text {
    font-family: 'Seymour One';
    color: $text-main-color;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.modal_window {
    width: 224px;
    height: 199px;
    border-radius: 10px;
}
.modal_button {
    color: $text-main-color;
    padding: 12px 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    background:$main-color;
    border-radius: 10px
}