.products {
    background-image: url(../../images/backgrounds/bg-desktop.jpg);
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-label {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.222;
        text-align: center;
        text-transform: uppercase;
    
        color: #131313;
}